@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.product__card {
  background-color: #f8f8f8;
  width: 360px;
}

.product__card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__img:hover {
  background-color: rgba(58, 56, 56, 0.86);
  /* opacity: 1;
  filter: alpha(opacity=100); */
}

.product__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
