@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("fonts/Gilroy-Semibold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  padding-bottom: 84px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  width: 533px;
  justify-content: space-between;
}

.nav__link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.nav__link:hover {
  color: #f25822;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 163px;
}

.content__text {
  width: 522px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text__title {
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 17px;
}

.content__text_pr {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  width: 466px;
}

.content__buttons {
  display: flex;
  justify-content: space-between;
  width: 302px;
  margin-top: 37px;
}

.button {
  justify-content: space-between;
  font-family: "Gilroy-Bold";
  width: 140px;
  height: 50px;
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
  border-radius: 50px;
  background: none;
  border: none;
}

.button:hover {
  color: #fff;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}

.logos {
  display: flex;
  justify-content: space-between;
  padding-top: 97px;
  padding-bottom: 96px;
}
