@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-bottom: 16px;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.container {
  width: 1219px;
  box-sizing: border-box;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.header {
  background: #007765;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.head__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.nav__link {
  color: #ffffff;
}

.nav_sep {
  width: 7px;
}

.start {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("img/start_bg.svg");
  background-size: cover;
  background-position: center center;
}

.start__msg {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
}

.problem {
  padding-top: 48px;
  padding-bottom: 92px;
  background: #eeeeee;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("img/Hero.svg");
  background-size: cover;
  background-position: center center;
}

.hero__msg {
  margin-left: 108px;
  margin-right: 108px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.intro {
  padding-top: 48px;
  padding-bottom: 92px;
  background: #ffffff;
}

.intro__first__pr {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 35px;
}

.intro {
  padding-top: 48px;
  padding-bottom: 94px;
  background: #ffffff;
}

.team {
  padding-top: 48px;
  padding-bottom: 94px;
  background: #eeeeee;
}

.team__list {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.team__item {
  width: 350px;
  height: 283px;
  text-align: center;
}

.team__photo {
  margin-top: 24px;
  margin-bottom: 12px;
}

.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}

.team__pos {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer {
  padding-top: 48px;
  padding-bottom: 94px;
  background: #333333;
}

.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-left: 285px;
  margin-right: 285px;
}
